{% extends "layout.html" %}

{% block title %}Add a new Citation{% endblock %}

{% block body %}
<h1>Add a new Citation</h1>
<p>or see currently saved citations <a href="{{ url_for('citations_view') }}" style="font-size:18px;">here</a></p>

<h2>Create a new citation by selecting an entry type <b>first</b>.</h2>
<form action="{{ url_for('select_entry_type') }}" method="post">
  <label>Entry type:
    <select name="entry_type" required>
      <option value="" disabled selected>Select type</option>
      {% for et in entry_types or [] %}
      {% if et.id == session.get("entry_type", {}).get("id") %}
      <option value="{{ et.id }}" selected>{{ et.name }}</option>
      {% else %}
      <option value="{{ et.id }}">{{ et.name }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </label>
  <button type="submit">Select</button>
</form>
<br>

{% if session.get("entry_type") %}
<form method="post">
  <h2>Selected entry type: <b>{{ session.get("entry_type").get("name") }}</b></h2>
  <h3>Fill in the details:</h3>
  <label>Citation key:
    <input type="text" name="citation_key" required>
  </label>
  {% if fields %}
  <br>
  {% for f in fields %}
  <label>{{ f.replace("_", " ").capitalize() }}:
    <input type="text" name="{{ f }}">
  </label>
  <br>
  {% endfor %}
  {% endif %}

  <br>
  {% if categories %}
  <label>Select an existing category:
    <select name="category">
      <option value="" selected>Select a category</option>
      {% for c in categories or [] %}
      <option value="{{ c.name }}">{{ c.name }}</option>
      {% endfor %}
    </select>
  </label>
  {% endif %}
  <label>Create a new category:
    <input type="text" name="category_new" placeholder="New Category">
  </label>
  <br>
  {% if tags %}
  <label>Assign existing tags:
    <select name="tags" multiple>
      {% for t in tags or [] %}
      <option value="{{ t.name }}">{{ t.name }}</option>
      {% endfor %}
    </select>
  </label>
  <br>
  {% endif %}
  <label>Assign tags (comma-separated):
    <input type="text" name="tags_new" placeholder="tag1, tag2">
  </label>

  <button type="submit">Add Citation</button>
</form>
{% endif %}
{% endblock %}
